<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
    <testsuite name="EcomDev_Test Library Tests">
        <directory suffix="Test.php">.</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="Europe/Amsterdam"/>
    </php>
    <filter>
        <blacklist>
            <directory prefix="_" suffix=".php">.</directory>
            <file>bootstrap.php</file>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target=".coverage" />
    </logging>
</phpunit>