<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php.dist">
    <testsuite name="EcomDev_Test Module Tests">
        <directory suffix="Test.php">EcomDev</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="Europe/Amsterdam"/>
        <!-- these three options are required for virtual file stream -->
        <ini name="suhosin.executor.include.whitelist" value= "vfs://" />
        <ini name="allow_url_fopen" value= "1" />
        <ini name="allow_url_include" value= "1" />
    </php>
    <filter>
        <blacklist>
            <directory prefix="_" suffix=".php">.</directory>
            <file>bootstrap.php</file>
        </blacklist>
    </filter>
</phpunit>